In [2]:
import pandas as pd
import numpy as np
import os

import networkx as nx
import re

In [3]:
edges = pd.read_csv('data/edges.csv')
nodes = pd.read_csv('data/nodes.csv')
hero_edges = pd.read_csv('data/hero-network.csv')
datasets = [edges, nodes, hero_edges]

In [3]:
# preprocessing
def strip_rightend(string):
    string = string.rstrip()
    sstring = '/'
    if string.endswith(sstring):
        res = re.sub(sstring, '', string)

    if string =='SPIDER-MAN/PETER PARKER':
        string = 'SPIDER-MAN/PETER PAR'

    return string

In [4]:
for ds in datasets:
    ds.dropna(inplace=True)
    for col in ds.columns:
        ds[col].apply(lambda row: strip_rightend(row))

In [5]:
hero_edges_arr = np.array(hero_edges)
hero_edges_arr.shape

(574467, 2)

In [6]:
idx_self = np.where(hero_edges_arr[:,0] == hero_edges_arr[:,1])
idx_self
# we check on a sample
hero_edges.iloc[8889]

hero1    MISS AMERICA/MADELIN
hero2    MISS AMERICA/MADELIN
Name: 8889, dtype: object

In [7]:
hero_edges_arr = np.delete(hero_edges_arr, idx_self, axis = 0)
print(hero_edges_arr.shape)
hero_edge = pd.DataFrame(hero_edges_arr) # ! new df

(572235, 2)

In [8]:
nodes

                       node   type
0                   2001 10  comic
1                    2001 8  comic
2                    2001 9  comic
3      24-HOUR MAN/EMMANUEL   hero
4      3-D MAN/CHARLES CHAN   hero
...                     ...    ...
19085           ZOTA, CARLO   hero
19086                  ZOTA   hero
19087                 ZURAS   hero
19088                  ZURI   hero
19089                 ZZZAX   hero

[19090 rows x 2 columns]

In [ ]:
#

In [60]:
hero_edge

                           0                     1
0              LITTLE, ABNER        PRINCESS ZANDA
1              LITTLE, ABNER  BLACK PANTHER/T'CHAL
2       BLACK PANTHER/T'CHAL        PRINCESS ZANDA
3              LITTLE, ABNER        PRINCESS ZANDA
4              LITTLE, ABNER  BLACK PANTHER/T'CHAL
...                      ...                   ...
572230  COLOSSUS II/PETER RA              CALLISTO
572231              CALLISTO               ROGUE /
572232              CALLISTO              CALIBAN/
572233              CALIBAN/               ROGUE /
572234  HULK/DR. ROBERT BRUC     MARKS, DR. SHIELA

[572235 rows x 2 columns]